@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

body {
  box-sizing:border-box;
  font-family: 'Roboto Mono', monospace;
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

h1,
.logo {
  color: #F9FAF8;
}

.header,
.hero {
  background-color: #1F2937;
}

p,
a {
  font-size: 18px;
  color: #E5E7EB;
}

/** Header part **/
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.header {
  padding: 24px 80px;
  display: flex;
  justify-content: space-between;
}


.logo {
  font-size: 24px;
  font-weight: 700;
}

/** Hero part **/
h1 {
  font-size: 48px;
  font-weight: 900;
}

.image-girl-and-dog {
  height: auto;
  width: 550px;
}

.hero-button {
  width: 120px;
  font-size: 15px;
  font-weight: 600;
  background-color: #3882F6;
  color: white;
  border: 0;
  border-radius: 10px;
  padding: 8px 25px;
}

.hero {
  padding: 100px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.hero-text {
  height: 400px;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

p {
  width: 800px;
}