@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

body {
  box-sizing:border-box;
  font-family: 'Roboto Mono', monospace;
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

h1,
.logo,
.first-paragraph {
  color: #F9FAF8;
}

.footer,
.header,
.hero {
  background-color: #556945;
}

h2,
.quote-text {
  color: #1F2937;
}

.footer,  
.second-paragraph,
.hero-secondary-text,
a {
  font-size: 18px;
  color: #E5E7EB;
}

.action-button,
.hero-button,
.action-section {
  background-color: #8B694D;
}

/** Header section **/
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.header {
  padding: 24px 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.logo {
  font-size: 24px;
  font-weight: 700;
}

/** Hero section **/
h1 {
  font-size: 48px;
  font-weight: 900;
}

.image-girl-and-dog {
  height: auto;
  width: 550px;
  padding-top: 5px;
  border-radius: 12px;
}

.action-button,
.hero-button {
  width: 120px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border: 0;
  border-radius: 12px;
  padding: 8px 25px;
}

.hero {
  padding: 100px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hero-text {
  width: 750px;
  display: flex;
  flex-direction: column;
}

.hero-secondary-text {
  width: 900px;
  padding: 15px 0;
}

/** Main content section **/
.card {
  display: flex;
  flex-direction: column;
}

.card img {
  height: 260px;
  width: 260px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card p {
  font-size: 18px;
  width: 260px;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  margin: 40px 0;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin: 0 550px;
}

/** Quote section **/
.quote-section {
  background-color: #E5E7EB;
  padding: 150px 700px;
  margin: 100px 0;
}

.quote-container {
  display: flex;
  flex-direction: column;
}

.quote-section p {
  font-weight: bold;
  font-size: 25px;
  padding-right: 70px;
  align-self: flex-end;
}

p.quote-text {
  font: italic 100 36px 'Roboto Slab', serif;
  padding-right: 0;
}

/** Action section **/
.action-section {
  height: 250px;
  margin: 100px 600px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.first-paragraph {
  font-size: 26px;
  font-weight: bold;
}

.second-paragraph {
  font-size: 22px;
}

.action-button {
  border: 3px solid white;
}

/** Footer section **/
.footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
